.helps {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .helps span {
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .helps span:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #0077CC; /* 파란색으로 텍스트 색상을 변경 */
  }
  
  /* 새로운 스타일 추가 */
  .helps > div {
    margin-bottom: 20px;
  }
  
  /* 조회수와 댓글 수에 대한 스타일 */
  .helps > span:last-child {
    color: #0077CC;
    font-weight: bold;
  }
