.head {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.writing {
  margin-left: 10%;
  background-color: #5f9fff; 
  padding: 7px;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.more {
  text-align: center;
}

.moreBtn {
  background-color: white;
  border: none;
  font-size: 20px;
}
