:root {
    --buttons-shadow: 0px 8px 22px 0px rgba(74, 58, 255, 0.26);
    --headings-typography-size-2-font-family: "DMSans-Bold", Helvetica;
    --headings-typography-size-2-font-size: 34px;
    --headings-typography-size-2-font-style: normal;
    --headings-typography-size-2-font-weight: 700;
    --headings-typography-size-2-letter-spacing: 0px;
    --headings-typography-size-2-line-height: 46px;
    --input-default: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
    --neutral-100: rgba(255, 255, 255, 1);
    --neutral-300: rgba(239, 240, 246, 1);
    --neutral-600: rgba(111, 108, 144, 1);
    --neutral-800: rgba(23, 15, 73, 1);
    --other-18-20-b-font-family: "DMSans-Bold", Helvetica;
    --other-18-20-b-font-size: 18px;
    --other-18-20-b-font-style: normal;
    --other-18-20-b-font-weight: 700;
    --other-18-20-b-letter-spacing: 0px;
    --other-18-20-b-line-height: 20px;
    --other-18-20-r-font-family: "DMSans-Regular", Helvetica;
    --other-18-20-r-font-size: 18px;
    --other-18-20-r-font-style: normal;
    --other-18-20-r-font-weight: 400;
    --other-18-20-r-letter-spacing: 0px;
    --other-18-20-r-line-height: 20px;
    --primarycolor-1: rgba(74, 58, 255, 1);
    --text-font-family: "Inter-Medium", Helvetica;
    --text-font-size: 24px;
    --text-font-style: normal;
    --text-font-weight: 500;
    --text-letter-spacing: 0px;
    --text-line-height: 24px;
  }
  
.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .screen .overlap {
    height: 496px;
    left: 1062px;
    position: absolute;
    top: 274px;
    width: 598px;
  }
  
  .screen .line {
    height: 486px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 13px;
  }
  
  .screen .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 100px;
    font-weight: 400;
    height: 494px;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 591px;
  }
  
  .screen .overlap-group {
    height: 397px;
    left: 367px;
    position: absolute;
    top: 291px;
    width: 514px;
  }
  
  .screen .group {
    height: 397px;
    left: 0;
    position: absolute;
    top: 0;
    width: 514px;
  }
  
  .screen .overlap-2 {
    border-radius: 86px;
    height: 82px;
    left: 1px;
    position: absolute;
    top: 315px;
    width: 511px;
  }
  
  .screen .primary-BTN {
    background-color: var(--primarycolor-1);
    border-radius: 86px;
    box-shadow: var(--buttons-shadow);
    height: 82px;
    left: 0;
    position: absolute;
    top: 0;
    width: 511px;
  }
  
  .screen .button-text {
    color: var(--neutral-100);
    font-family: var(--other-18-20-b-font-family);
    font-size: var(--other-18-20-b-font-size);
    font-style: var(--other-18-20-b-font-style);
    font-weight: var(--other-18-20-b-font-weight);
    left: 223px;
    letter-spacing: var(--other-18-20-b-letter-spacing);
    line-height: var(--other-18-20-b-line-height);
    position: absolute;
    text-align: center;
    top: 29px;
    width: 66px;
  }
  
  .screen .overlap-group-wrapper {
    height: 81px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 513px;
  }
  
  .screen .overlap-group-2 {
    background-color: var(--neutral-100);
    border: 1px solid;
    border-color: var(--neutral-300);
    border-radius: 46px;
    box-shadow: var(--input-default);
    height: 81px;
    position: relative;
    width: 511px;
  }
  
  .screen .img {
    height: 33px;
    left: 454px;
    position: absolute;
    top: 23px;
    width: 28px;
  }
  
  .screen .text-wrapper-2 {
    color: var(--neutral-600);
    font-family: var(--other-18-20-r-font-family);
    font-size: var(--other-18-20-r-font-size);
    font-style: var(--other-18-20-r-font-style);
    font-weight: var(--other-18-20-r-font-weight);
    left: 25px;
    letter-spacing: var(--other-18-20-r-letter-spacing);
    line-height: var(--other-18-20-r-line-height);
    position: absolute;
    top: 26px;
    width: 58px;
  }
  
  .screen .div-wrapper {
    height: 57px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 141px;
  }
  
  .screen .text-wrapper-3 {
    color: var(--neutral-800);
    font-family: var(--headings-typography-size-2-font-family);
    font-size: var(--headings-typography-size-2-font-size);
    font-style: var(--headings-typography-size-2-font-style);
    font-weight: var(--headings-typography-size-2-font-weight);
    left: 0;
    letter-spacing: var(--headings-typography-size-2-letter-spacing);
    line-height: var(--headings-typography-size-2-line-height);
    position: absolute;
    top: 0;
    width: 139px;
  }
  
  .screen .overlap-wrapper {
    height: 81px;
    left: 0;
    position: absolute;
    top: 169px;
    width: 513px;
  }
  
  .screen .text-wrapper-4 {
    color: var(--neutral-600);
    font-family: var(--other-18-20-r-font-family);
    font-size: var(--other-18-20-r-font-size);
    font-style: var(--other-18-20-r-font-style);
    font-weight: var(--other-18-20-r-font-weight);
    left: 26px;
    letter-spacing: var(--other-18-20-r-letter-spacing);
    line-height: var(--other-18-20-r-line-height);
    position: absolute;
    top: 27px;
    width: 102px;
  }
  
  .screen .group-2 {
    height: 28px;
    left: 459px;
    position: absolute;
    top: 25px;
    width: 22px;
  }
  
  .screen .remember-me {
    height: 23px;
    left: 101px;
    position: absolute;
    top: 266px;
    width: 315px;
  }
  
  .screen .remember-me-text {
    color: #000c14;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
  }
  
  .screen .tick-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cdd1e0;
    border-radius: 5px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
  }
  
  .screen .tick {
    height: 10px;
    left: 2px;
    position: absolute;
    top: 3px;
    width: 14px;
  }
  
  .screen .forgot-password-text {
    color: #e76969;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 177px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .screen .already-account {
    height: 22px;
    left: 502px;
    position: absolute;
    top: 709px;
    width: 249px;
  }
  
  .screen .p {
    color: #0d0d0d;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .screen .text-wrapper-5 {
    color: #160062;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 186px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  