/* CleaningForm.css */
.clock-container {
    width: 20rem;
    height: 20rem;
    overflow-y: auto;
    border-radius: 1rem;
    background-color: white;
  }
  
  .time-options {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .time-option {
    border-radius: 4rem;
    cursor: pointer;
    padding: 2rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .time-option:hover {
    background-color: #f0f0f0;
    text-decoration: underline;
    font-weight: bold;

  }
  