.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.cancle {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
}

.save {
  background-color: #608DFF;
  border: none;
  border-radius: 4px;
  color: white;
}

.place {
  display: flex;
  gap: 2rem;
}

.option {
  display: flex;
  align-items: center;
}

.option input[type="int"] { /* Targets only the int type input */
  width: 60%; /* Adjust as per your layout requirements */
  margin-right: 50px;
}

.radioContainer {
  display: flex;
  width: 300px;
}

.radioContainer input[type="radio"] {
  width: 20%;
  margin-right: 10px;
}

.radioContainer label {
  width: 20%;
}
