.item {
  margin-top: 0.5rem;
  width: 100%;
  height: 90%;
  border: 2px solid #d7d7d7;
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 3px 5px rgb(195, 195, 195);
}

.content div {
  font-size: 1.6rem;
}

.content div,
.content address,
.content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0 0 3px 0;
}

.price {
  font-weight: bold;
}

.thumbnailImg {
  border-radius: 4px;
  width: 100px; /* 원하는 크기로 설정하세요 */
  height: 100px; /* 원하는 크기로 설정하세요 */
  object-fit: cover; /* 이미지가 자동으로 크롭되어 정사각형으로 표시되도록 설정합니다 */
}

