.trades {
  margin: 2rem auto;
  width: 80%;
  background-color: #F8F6F6;
  border-radius: 4px;
  display:table;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  justify-content: center;
}

.item {
  flex: 1 1 25%;
  max-width: calc(25% - 2rem);
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display:table-cell;
  vertical-align:middle;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800); /* Moved here */
  border-radius: 4px;
  width: 100%; /* 부모 요소의 전체 너비를 차지 */
  height:370px;
}

.item a:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 20px #ddd;
  cursor: pointer;
}

.item img {
  width: 100%;
  min-height: 270px;
  max-height: 270px;
  object-fit: cover;
  object-position: center;
}

