.trade
 {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.trade
 img {
  width: 30rem;
  border-radius: 4px;
}

.back {
  margin: 1rem auto;
  text-align: left;
  margin-left: 10%;
}

.report button {
  color: #FF0000;
  border: none;
  margin-top: 10px;
  background-color: white;
}

.actions {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
}

.edit button {
  padding: 0.25rem 1rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid #D7DBEC;
  color: #1E5EFF;
  border-radius: 4px;
}

.cancle button {
  padding: 0.25rem 1rem;
  cursor: pointer;
  background-color: #FF1E1E;
  border: none;
  color: white;
  border-radius: 4px;
}

.back button{
  border: none;
  background-color: #006EEE;
  color: white;
  border-radius: 20px;
}

.writer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding-inline: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.article {
  margin: auto;
  max-width: 80%;
  text-align: left;
}

.title {
  background-color: #ECF2FF;
  border-radius: 25px;
  padding: 10px 5px 10px 18px;
  font-size: 1.3rem;
  font-weight: bold;
}

.detail {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  padding-left: 5px;
}

.date {
  margin-left: auto;
}

.direct {
  text-align: right;
  margin: 10px;
}

.content {
  background-color: #ECF2FF;
  border-radius: 25px;
  min-height: 300px;
  position: relative;
  padding: 15px;
  padding-bottom: 50px;
}

.view {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  justify-content: space-between
}

.chat {
  display: flex;
  justify-content: right;
}

.chat button {
    padding: 7px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5f9fff;
}

.sold {
  display: flex;
  justify-content: right;
  margin-top: 0;
}

.sold button {
  border: none;
  background-color: lightgray;
  border-radius: 4px;
  color: black;
}
