.item {
  margin-top: 0.5rem;
  width: 100%;
}

.content h2,
.content address,
.content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0 0 3px 0;
}

.price {
  font-weight: bold;
}

img {
  border-radius: 4px;
}