.trade
 {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 9px;
  border: 1.5px solid #b6d8f8;
  box-shadow:0 3px 20px rgba(0, 0, 0, 0.3);
}

.trade
 img {
  width: 30rem;
  border-radius: 4px;
}

.back {
  margin: 1rem auto;
  text-align: left;
  margin-left: 10%;
}

.back button{
  border: none;
  background-color: #006EEE;
  color: white;
  border-radius: 20px;
}

.writer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding-inline: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.article {
  margin: auto;
  max-width: 80%;
  text-align: left;
}

.title {
  background-color: #ECF2FF;
  border-radius: 25px;
  padding: 10px 5px 10px 18px;
  font-size: 1.3rem;
  font-weight: bold;
}

.detail {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  padding-left: 5px;
}

.date {
  margin-left: auto;
}

.direct {
  text-align: right;
  margin: 10px;
}

.content {
  background-color: #ECF2FF;
  border-radius: 25px;
  min-height: 300px;
  position: relative;
  padding: 15px;
  padding-bottom: 50px;
}

.view {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 0.9rem;
}

.chat {
  display: flex;
  justify-content: right;
}

.chat button {
    padding: 7px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5f9fff;
}

.sold {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.sold button {
  padding: 7px;
  border: none;
  background-color: lightgray;
  border-radius: 6px;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
}
