spring:
  profiles:
    active: local
  data:
    redis:
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}
      port: 6379
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    url: ${DB_URL}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: env
    show-sql: true
    properties:
      hibernate:
        format_sql: 'true'
  jackson:
    serialization:
      fail-on-empty-beans: 'false'

jwt:
  secretKey: ${JWT_SECRET_KEY}
  accessExpiredTimeMs: ${JWT_ACCESS_EXPIRED_TIME_MS}

cloud:
  aws:
    credentials:
      accessKey: ${S3_ACCESS_KEY}
      secretKey: ${S3_SECRET_KEY}
    region:
      static: ${S3_REGION}
    s3:
      bucket : ${S3_BUCKET}
    stack:
      auto: 'false'

sms:
  api:
    key: ${COOL_SMS_API_KEY}
    secret: ${COOL_SMS_API_SECRET}